name: Metrics
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/metrics.yml'

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Simple Metrics
        uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: HackCocaine
          repo: HackCocaine
          filename: metrics.svg
          base: header
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          committer_message: "chore: update metrics [skip ci]"
