name: Metrics
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: HackCocaine
          repo: HackCocaine
          filename: metrics.svg
          base: header
          committer_message: "chore: update metrics [skip ci]"
